<%- include ('./partials/header') %> 
    <div class="container mt-4">
      <h2>Click <a href="mailto:fanikufran6@gmail.com">here</a> to contact the webmaster by sending an E-mail.</h2>
    </div>
<%- include ('./partials/footer') %> 