<%- include ('./partials/header') %>
  <div class="container">
    <div class="mt-4 p-4 bg-dark text-white rounded">
      <h1 class="comic-neue"><i class="fa-solid fa-mask"></i> Welcome to Anonimaze!</h1> 
      <p class="comic-neue">Introducing Anonimaze: A user-friendly platform designed for simplicity. Discover the magic of anonymous messaging with our app! Send and receive messages without revealing your identity. Impress your friends with anonymous compliments, adding an element of mystery and surprise to your interactions. Experience a seamless usage with no ads and a simple interface.</p>
      <a href="/register" class="pointer"><button class="btn btn-success">Get Started</button></a>
    </div>
  </div>
  <footer class="text-center">
    <h5 class="m-4 pacifico">Made with ❤</h5>
  </footer>
<%- include ('./partials/footer') %>
