<%- include ('./partials/header') %>
  <div class="container">
    <div class="mt-4 p-5 bg-dark text-white rounded">
      <h1 class="index"><i class="fa-solid fa-mask"></i></i> Welcome to Anonimaze!</h1> 
      <p class="index">Send and receive anonymous messages. Anonymously amaze your friends with anonymous compliments.</p>
      <a href="/register" class="pointer"><button class="btn btn-success">Get Started</button></a>
    </div>
  </div>

  <div class="container">
    <div class="row">
    </div>
  </div> 
<%- include ('./partials/footer') %>