<%- include ('./partials/header') %> 
    <div class="container mt-4">
      <h2>Message sent! Now it's your turn. <a href="/register">Sign up</a> and start receiving anonymous compliments.</h2>
    </div>
<%- include ('./partials/footer') %> 