@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
	font-family: 'Roboto Mono', monospace;
}

a{
	text-decoration: none;
}

.form-control{
	font-size: large;
}

#logo{
    font-family: 'Silkscreen', cursive;
    font-size: 20px;
}

.form-center{
	max-width: 500px;
	margin: 0 auto;
}

i{
	font-size: 25px;
}

.fa-mask{
	font-size: 40px;
}

#message{
	display: none;
	color: crimson;
}

.pointer{
	cursor: pointer;
}

.pacifico{
	font-family: 'Pacifico', cursive;
	color: gray;
}
