@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

*{
	/* font-family: 'Comic Neue', cursive; */
}

.comic-neue{
	font-family: 'Comic Neue', cursive;
}

#logo{
    font-family: 'Silkscreen', cursive;
    font-size: 20px;
}

.form-center{
	max-width: 500px;
	margin: 0 auto;
}

a{
	text-decoration: none;
}

i{
	font-size: 25px;
}

#message{
	display: none;
	color: crimson;
}

.pointer{
	cursor: pointer;
}